/* ------------------------------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
  padding: 80px 0;
}

box {
  padding: 1%;
}

/* ------------------------------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------------------------------*/


header {
  background-image: url(/resources/img/farm.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 800px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 10px;
}

/* -------------NAVBAR-------------*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  font-size: 95%;
  font-weight: 400;
  font-style:italic;
  border-bottom: 1px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid #d65050;
  transition: border-bottom 0.2s;
}

/* ------------HEADINGS------------*/

.hero-title {
  margin: 0;
  font-size: 290%;
  color: #fff;
  word-spacing: 5px;
}

.hero-title:after {
    content: "";
    display: block;
    width: 50%;
    margin: 10px auto 0;
    border-bottom: 1px solid #d65050;
}

.foundation-title {
  font-size: 200%;
  word-spacing: 2px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
  font-style: italic;
}

.foundation-title:after {
    content: "";
    display: block;
    width: 10%;
    margin: 10px auto 0;
    border-bottom: 1px solid #d65050;
}

.foundation-block-title {
  font-size: 130%;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}

/* --------------ICONS--------------*/

.icon-big {
  font-size: 300%;
  display: block;
  text-align: center;
  color: #1e73be;
  margin-bottom: 20px;
}

/* -------------BUTTONS-------------*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-hero:link,
.btn-hero:visited {
  background-color: #d65050;
  border: 1px solid #d65050;
  color: #fff;
  margin-top: 40px;
  font-size: 80%;
  font-style: italic;
}

.btn-hero:hover,
.btn-hero:active {
  background-color: transparent;
  border: 1px solid #d65050;
  color: #d65050;
  margin-top: 40px;
}

/* --------------FOUNDATION--------------*/

.foundation-section {
  padding-bottom: 0;
}

.foundation-section-text {
  margin-bottom: 60px;
}

.foundation-block-text {
  font-size: 85%;
  line-height: 145%;
  font-style: italic;
  padding-left: 3px;
  padding-right: 3px;
}
.foundation-quote-text {
  color: #fff;
  font-size: 270%;
  padding-top: 100px;
  font-style: italic;
  font-weight: 100;
}

.foundation-section-quote {
  background-image: url(/resources/img/sky.jpg);
  background-size: cover;
  background-position: center;
  height: 345px;
}

/* ----------------SERVICES---------------*/

.services {
  margin-bottom: 70px;
}

.services-title {
  margin: 0;
  font-size: 260%;
  color: #fff;
  word-spacing: 5px;
  color: #555;
  text-align: center;
  font-style: italic;
  margin-bottom: 50px;
}

.services-title:after {
    content: "";
    display: block;
    width: 5%;
    margin: 10px auto 0;
    border-bottom: 1px solid #d65050;
}

.services-block-title {
  text-align: center;
  margin-bottom: 25px;
  font-style: italic;
}

.services-block-text {
  font-size: 80%;
  line-height: 145%;
  font-style: italic;
  font-weight: 50;
}

.services-block-item {
  list-style: none;
  text-align: center;
}
.services-block-item li {
  text-decoration: none;
  font-size: 85%;
  line-height: 145%;
  font-style: italic;
}
/* ----------------PROCESSBAR---------------*/
.process {
  width: 100%;
  padding-bottom: 30px;
}

.process-title {
  margin: 0;
  font-size: 150%;
  color: #fff;
  word-spacing: 5px;
  color: #555;
  text-align: center;
  font-style: italic;
  margin-bottom: 60px;
}

.process-bar {
  counter-reset: step;
}

.process-bar li {
  list-style-type: none;
  float: left;
  width: 16.66%;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  line-height: 145%;
  font-style: italic;
}

.process-bar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 3px solid #555;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
  border-color: #1e73be;
  color: #555;
}

.process-bar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #555;
  top: 20px;
  left: -50%;
  z-index: -1;
  background-color: #1e73be;
}

.process-bar li:first-child:after {
  content: none;
}

